<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace" default="/"/>
  <arg name="aruco" default=""/>
  <arg name="origin" default="0 0 0 0 0 0"/>

  <group ns="$(arg robot_namespace)">

    <include file="$(find xsugv_description)/launch/description.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)"/>
      <arg name="aruco" value="$(arg aruco)"/>
    </include>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg robot_namespace)" />
    </node>

    <node name="robot_tf" pkg="tf" type="static_transform_publisher" args="$(arg origin) /map /$(arg robot_namespace)/base_link 100"/>

  </group>

</launch>
