<launch>
	<!-- Launch Gazebo Simulation -->
	<arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.05"/>
	<arg name="world" default="$(find prometheus_gazebo)/worlds/autonomous_landing.world"/>
	<arg name="sdf" default="$(find prometheus_gazebo)/amov_models/p450_monocular/p450_monocular.sdf"/>
	<arg name="model" default="p450_monocular"/>
    <include file="$(find prometheus_gazebo)/launch_basic/sitl.launch">
	  <arg name="world" value="$(arg world)"/>
	  <arg name="sdf" value="$(arg sdf)"/>
	  <arg name="model" value="$(arg model)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
    </include>

	<!-- run the landpad_det.cpp -->
    <node pkg="prometheus_detection" type="landpad_det" name="landpad_det" output="screen">
        <param name="camera_topic" type="string" value="/prometheus/sensor/monocular_down/image_raw" />
        <param name="camera_info" type="string" value="$(find prometheus_gazebo)/config/camera_config/camera_param_gazebo_monocular.yaml" />
    </node>

	<!-- run the autonomous_landing.cpp -->
	<node pkg="prometheus_mission" type="autonomous_landing" name="autonomous_landing" output="screen" launch-prefix="gnome-terminal --">
		<!-- 仿真模式 - 区别在于是否自动切换offboard模式 -->
		<param name="sim_mode" value="true" />
		<!-- 悬停模式 - 仅用于观察检测结果 -->
		<param name="hold_mode" value="false" />
		<!-- 是否使用降落板绝对高度 -->
		<param name="use_pad_height" value="false" />
		<param name="pad_height" value="0.99" />
		<!-- 起始点 -->
		<param name="start_point_x" value="-4.0" />
		<param name="start_point_y" value="-2.0" />
		<param name="start_point_z" value="4.5" />
		<!-- 相机安装偏差 -->
		<param name="camera_offset_x" value="0.0" />
		<param name="camera_offset_y" value="0.0" />
		<param name="camera_offset_z" value="-0.1" />
		<!-- 追踪控制参数 -->
		<param name="kpx_land" value="0.6" />
		<param name="kpy_land" value="0.6" />
		<param name="kpz_land" value="0.1" />

		<param name="kdx_land" value="1.0" />
		<param name="kdy_land" value="1.0" />
		<param name="kdz_land" value="0.1" />

		<!-- 动态降落控制参数 -->
		<param name="dynamic_kpx_land" value="0.8" />
		<param name="dynamic_kpy_land" value="0.8" />
		<param name="dynamic_kpz_land" value="0.12" />

		<param name="dynamic_kdx_land" value="0.0" />
		<param name="dynamic_kdy_land" value="0.0" />
		<param name="dynamic_kdz_land" value="0.0" />

		<param name="arm_height_to_ground" value="0.2" />
		<param name="arm_distance_to_pad" value="0.3" />
		<!-- 目标是否移动及其速度 -->
		<param name="moving_target" value="true" /><!--true for sim, false for test-->
		<param name="target_vel_x" value="1.1" />
		<param name="target_vel_y" value="0.0" />

		<param name="average_velocity_time" value="0.02" />
		<param name="D_time" value="0.01" />

		<param name="k" value="1.1" />
		<param name="dynamic_distance" value="1.0" /><!--切换动态降落的距离-->
		<param name="dynamic_height" value="0.8" /><!--切换动态降落的距离-->

		<param name="true_target_vel_x" value="0.3" /><!--测试用,目标速度真值x-->
		<param name="true_target_vel_y" value="0.0" /><!--测试用,目标速度真值y-->


	</node>

</launch>

