<?xml version="1.0"?>
<launch>
  <group ns="gps">
    <!-- NavSat Socket -->
    <node pkg="nmea_navsat_driver" type="nmea_socket_driver" name="nmea_socket_node">
      <param name="port" value="$(optenv XSUGV_NAVSAT_PORT 4250)" />
    </node>
  </group>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" >
    <rosparam>
      magnetic_declination_radians: 0
      roll_offset: 0
      pitch_offset: 0
      yaw_offset: 0
      zero_altitude: false
      broadcast_cartesian_transform: false
    </rosparam>
  </node>
</launch>
